.container {
    padding: 2rem;
    background-color: #ebfbf4;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    gap: 4rem;
    margin-bottom: 2rem;
}

.statusContainer {
    display: flex;
    justify-content: center;
}

.genderContainer {
    display: flex;
    justify-content: center;
}

.statusRadioButton {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #90d9b9;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: -4px;
    position: relative;
}

.statusRadioButton:checked {
    border-color: #90d9b9;
    background-color: white;
}

.statusRadioButton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px #a9e7cc;
}

.statusRadioButton:checked::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background: #a9e7cc;
    border-radius: 50%;
}

.charactersGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.characterCard {
    width: 250px;
    height: 320px;
    text-align: center;
    transition: transform 0.3s;
    border-radius: 20px;
    overflow: hidden;
    /* border: solid 2px, #264B3C; */
    box-shadow: 0 1px 8px #a9e7cc;
    background-color: white;
}

.characterCard:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.characterImage {
    width: 250px;
    height: 230px;
}

.characterName {
    margin-top: 1rem;
    font-weight: 400;
    font-size: large;
    font-family: 'Inter', sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.arrowButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
}

.arrowButton:disabled {
    opacity: 0.5;
}

.arrowButton:active {
    box-shadow: 0 1px 8px#a9e7cc;
}

.arrowButton:hover:not(:disabled) {
    transform: scale(1.1);
}

.arrowLeft {
    padding-left: 16px;
    transform: rotate(0deg);
}

.arrowRight {
    padding-right: 16px;
    transform: rotate(180deg);
}

.pageNumber {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, background-color 0.2s;
}

.pageNumber:hover {
    transform: scale(1.1);
}

.pageNumber:active {
    box-shadow: 0 1px 8px#a9e7cc;
}

.activePage {
    background-color: #90d9b9;
    color: #2B2B2B;
}